body{
    margin: 0px;
}
.top-col{
    display: flex;
    justify-content: center;
    height: 75vh;
    position: sticky;
    top: 0;
    z-index: -10000000;
}

.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url('../content/standin_bike.jpg');
    /* background-size: cover; */
    filter: grayscale(100%);
}

.name{
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 50px;
    /* padding-left: 41px; */
    font-family: 'Poiret One', cursive;
    margin: 0px;
    text-align: center;
}

.name-header{

}

.name-caption{
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: white;
    margin: 0px;
    text-align: center;

}

.top-col__img_container{
    margin-top: 20px;
    width: 400px;
    height: 400px;
    /* position: absolute; */
    overflow: hidden;
    border-radius: 50%;
    top: 120px;
    right: 300;
}

.head-shot{
    display: flex;
    margin: -112px auto;
    height: 152%;
    width: auto;
}
