.projects-container{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content:  center;
    background-color:#ddd7de;
    position: relative;
    /* box-shadow: 0px 8px 24px rgba(13,13,18,0.16); */
    /* background-color: white; */
}

.projects-header{
   font-size: 50px;
   padding-top: 100px;
   background-color: #ddd7de;
    /* padding-left: 41px; */
    font-family: 'Poiret One', cursive;
    text-align: center;
}

.project-photo > img{
  width: 700px;
  filter: brightness(0.5);
   transition: .2s ease-in-out .2s;
}

.project-photo > img:hover{
  width: 700px;
  filter: brightness(1);
  transition: .2s ease-in-out .2s;
}

.logo >img{
  filter: grayscale(100%);
  width: 141px;
  position: absolute;
  right: 6vw;
  top: 71px;
}

.logo >img:hover{
  filter: grayscale(0%);
}

.projects-title, .projects-caption{
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: 18px;
}

.project-title-container{
  display: flex;
}

.projects-about{
  background-color: white;
  position: absolute;
  width: 43vw;
  top: 170px;
  left: 46vw;
  padding: 40px;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.16);
}

.project-links{
  display: flex;
  /* width: 384px; */
  margin-left: 12px;
  justify-content: space-between;

}
.project-links > a{
  margin: 12px;
  
}

.logo-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 42vw;
}

.fab{
  font-size: 27px;
}
.fab:hover, .fas:hover{
  color: grey;
}

.fas{
  font-size: 27px;
}

.tools-used{
  display: flex;
}

.tools-used > div{
  font-family: 'Poiret One', cursive;
  margin-left: 10px;
  margin-right: 10px;
}

.icons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.icons > a{
  margin-left: 20px;
}

.fa-chevron-right{
  font-size: 17px;
  margin-right: 7px;
  background: -webkit-linear-gradient(#000428, #004e92);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills > div{
  margin-top: 12px;
}
